@model Fatura

@{
    ViewData["Title"] = "Editar Fatura";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header text-center bg-primary text-white">
            <h2>Editar Fatura</h2>
        </div>

        <div class="card-body">
            <form asp-action="Editar" method="post">
                <div class="form-group">
                    <label for="Cliente" class="font-weight-bold">Cliente</label>
                    <input asp-for="Cliente" class="form-control" id="Cliente" placeholder="Nome do Cliente" />
                    <span asp-validation-for="Cliente" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-success me-2">Salvar Alterações</button>
                    <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
