@model ErrorModel
@{
    Layout = "_Layout"; // Se você tiver um layout.
}

<h2>Ocorreram os seguintes erros:</h2>
<div style="color: red;">
    @foreach (var error in Model.Errors)
    {
        <p>@error</p>
    }
</div>
<br/>
<a href="javascript:history.back()" class="btn btn-primary">Voltar</a>